div.main {
    background-image: url("../../public/assets/pokerbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

div.poker-table {
    width: 50vw;
    max-height: 100vh;
    margin: 0px auto;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
}

img.poker-table {
    max-width: 1200px;
    max-height: 600px;
}

div.controls {
    z-index: 1;
    position: relative;
    top: -2.5vw;
    width: 700px;
    height: 55px;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(0,0,0,1.0);
    border-radius: 9px;
    justify-content: center;
    margin: auto;
}

button.controls {
    height: 55px;
    margin-right: 10px;
}

input.controls {
    background-color: rgba(255,255,255,0.5);
}

div.table-pot {
    position: relative;
    top: -18vw;
    left: 0vw;
}

p.table-pot {
    display: inline;
    color: rgba(255,255,255,1.0);
    background-color: rgba(0,0,0,0.5);
    border: 0.5px solid rgba(0,0,0,0.5);
    border-radius: 9px;
    padding: 3px 6x;
    font-weight: bold;
    font-size: 24px;
}

div.table-cards {
    width: 500px;
    height: 100px;
    position: relative;
    top: -17vw;
    left: 0vw;
    margin: auto;
}

div.dealer {
    width: 200px;
    height: 100px;
    position: relative;
    top: -50rem;
    left: 0vw;
    margin: auto;
}

div.player-cards-left {
    width: 200;
    position: relative;
    top: -150px;
    left: -185px;
}

div.player-cards-right {
    width: 200;
    position: relative;
    top: -150px;
    left: 185px;
}

div.avatar-normal {
    width: 160;
    text-align: 'center';
    background-color: rgba(255,255,255,0.25);
}

img.avatar-normal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    width: 120;
    height: 120;
}

p.avatar-normal {
    display: inline;
    position: relative;
    top: -20px;
    font-size: 20px;
    color: rgb(255,255,255);
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 10%;
}

button.avatar-normal {
    display: inline;
    width: 200px;
}

div.avatar-turn {
    width: 160;
    text-align: 'center';
    background-color: rgba(62, 133, 65, 0.75);
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 15%;
}

div.avatar-wait {
    width: 160;
    text-align: 'center';
    background-color: #38382fbf;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 15%;
}

div.avatar-money {
    justify-content: center;
}

p.avatar-money {
    display: inline;
    font-size: 18px;
    color: rgb(255,255,255);
}

img.avatar-money {
    display: inline;
    width: 24px;
    height: 24px;
}

.textfield {
    color: white !important;
    width: '200px';
    height: 'auto'; 
    text-align: 'center';
    background-color:rgba(255,255,255,0.75)
}

.textfield_label {
    color: white !important;
    background-color:rgba(112,21,155,255);
}

div.players {
    height: 19.35rem;
    z-index: 2;
    position: relative;
    top: -46rem;
    margin: auto;
}

div.player-0 {
    width: 200px;
    height: 100px;
    position: relative;
    top: 25.2rem;
    left: 15rem;
    margin: auto;
}

div.player-1 {
    width: 200px;
    height: 100px;
    position: relative;
    top: 19rem;
    right: 15rem;
    margin: auto;
}

div.player-2 {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 1rem;
    right: 36rem;
    margin: auto;
}


div.player-3 {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 35.7rem;
    right: 25rem;
    margin: auto;
}

div.player-4 {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 42rem;
    left: 25rem;
    margin: auto;
}

div.player-5 {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 21rem;
    left: 36rem;
    margin: auto;
}


img.playcard {
    width: 80px;
}

@media screen and ( max-width: 2560px ) {
    div.controls {
        top: 2rem;
        height: 55px;
    }
    div.dealer {
        bottom: 10rem;
    }
    div.player-0 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 32rem;
        left: 15rem;
        margin: auto;
    }
    
    div.player-1 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 25.7rem;
        right: 15rem;
        margin: auto;
    }
    
    div.player-2 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 10rem;
        right: 40rem;
        margin: auto;
    }
    
    div.player-3 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 35rem;
        left: -24rem;
        margin: auto;
    }
    
    div.player-4 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 41rem;
        left: 22rem;
        margin: auto;
    }
    
    div.player-5 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 28rem;
        left: 40rem;
        margin: auto;
    }
    div.controls {
        top: 4rem;
    }
}

@media screen and ( max-width: 1980px) {
    div.dealer {
        top: -45rem;
    }
    div.controls {
        top: 2rem;
        height: 55px;
    }
    div.player-0 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 30rem;
        left: 15rem;
        margin: auto;
    }
    
    div.player-1 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 23.7rem;
        right: 15rem;
        margin: auto;
    }
    
    div.player-2 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 6rem;
        right: 35rem;
        margin: auto;
    }
    
    div.player-3 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 31rem;
        left: -22rem;
        margin: auto;
    }
    
    div.player-4 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 37rem;
        left: 24rem;
        margin: auto;
    }
    
    div.player-5 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 25rem;
        left: 35rem;
        margin: auto;
    }
}

@media screen and ( max-width: 1600px ) {
    div.dealer {
        top: -40rem;
    }
    div.controls {
        top: 2rem;
    }
    div.player-0 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 31.5rem;
        left: 15rem;
        margin: auto;
    }
    
    div.player-1 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 25rem;
        right: 15rem;
        margin: auto;
    }
    
    div.player-2 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 0rem;
        right: 31.5rem;
        margin: auto;
    }
    
    div.player-3 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 24.3rem;
        left: -23rem;
        margin: auto;
    }
    
    div.player-4 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 30.3rem;
        left: 24rem;
        margin: auto;
    }
    
    div.player-5 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 19rem;
        left: 31.5rem;
        margin: auto;
    }

    div.controls {
        top: 4rem;
    }
}

@media screen and ( max-width: 1366px ) {
    div.dealer {
        top: -35rem;
    }
    div.controls {
        top: 4rem;
    }
    div.player-0 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 34rem;
        left: 15rem;
        margin: auto;
    }
    
    div.player-1 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 27.7rem;
        right: 15rem;
        margin: auto;
    }
    
    div.player-2 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: -3rem;
        right: 28rem;
        margin: auto;
    }
    
    div.player-3 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 20.3rem;
        left: -22rem;
        margin: auto;
    }
    
    div.player-4 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 26.3rem;
        left: 22rem;
        margin: auto;
    }
    
    div.player-5 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 16rem;
        left: 28rem;
        margin: auto;
    }
    div.controls {
        top: 6rem;
    }
}

/* TODO: implement avatars to go smaller related to the table and screen size */

@media screen and ( max-width: 1008px ) {
    /*div.avatar-normal, button.avatar-normal {
        width: 120px;
    }

    img.Mui-Avatar {
        width: 60px;
        height: 60px;
        display: 'block';
        margin-left: 'auto';
        margin-right: 'auto';
        padding: '6px 12px';
    }*/

    div.dealer {
        top: -30rem;
    }
    div.player-0 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 35rem;
        left: 8rem;
        margin: auto;
    }
    
    div.player-1 {
        width: 200px;
        height: 100px;
        position: relative;
        top: 28.7rem;
        right: 8rem;
        margin: auto;
    }
    
    div.player-2 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: -8.5rem;
        right: 23rem;
        margin: auto;
    }
    
    div.player-3 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 13.3rem;
        left: -20rem;
        margin: auto;
    }
    
    div.player-4 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 19.3rem;
        left: 20.3rem;
        margin: auto;
    }
    
    div.player-5 {
        width: 200px;
        height: 100px;
        position: relative;
        bottom: 10rem;
        left: 23rem;
        margin: auto;
    }
    div.controls {
        width: auto;
    }
}